/*main colors
#ff3d4b 
*/

body {
  background: #f5f4f3;
  font-family: 'Manrope', sans-serif;
}

#logo {
  height: 40px;
}

/*=============================================
=            Yue Lao            =
=============================================*/
#yuelao-image {
  height: 9em;
  margin-left: auto;

  padding-bottom: 0em;
  display: block;
}

.yuelao-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form {
  width: 100%;
}

#nameField {
  margin-right: 0em;
  padding-right: 0em;
}

#ratingField {
  padding-left: 0.5em;
  padding-right: 0;
  margin: 0;
}

.add-button {
  height: 0.9em;
}

#calculate-button {
  margin: 1.5em;
  background-color: #6b4f4f;
  display: none;
}

/*=============================================
=            About Me            =
=============================================*/
.aboutMe {
  text-align: center;
  margin: 1em;
}

#aboutMeTitle {
  font-size: 1em;
  font-family: 'Manrope', sans-serif;
}

.aboutMeFormContainer {
  height: 20em;
  display: block;
  margin: auto;
  text-align: center;
}

#xIcon {
  position: relative;
  text-align: right;
  margin-left: 0em;
  padding-left: 0;
  padding-right: 0;
  color: rgb(133, 133, 133);
}

/*=============================================
=            Results            =
=============================================*/
#knot {
  width: 14.3em;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

#msgYueLao-image {
  margin-top: 2em;
  width: 30%;
  height: 20%;
}

#text-message-container {
  text-align: center;
  margin: auto;

  font-family: 'Kalam', cursive;
  padding: 1em;
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  height: 500px;
  /* width: 15.5em; */
  width: 14.5em;
  background-color: rgb(244, 226, 165);
  border-style: solid;
  border: 2px solid;
  text-align: center;
}

#text-message {
}

/*=============================================
=            Glasss            =
=============================================*/

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
}

/*=============================================
=            FORM            =
=============================================*/
#regForm {
  margin: 0px auto;
  font-family: 'Manrope', sans-serif;
  padding: 20px;
  border-radius: 10px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  -webkit-appearance: none;
}

.tab input:focus {
  outline: none;
}

.invalid {
  border: 1px solid #ff3d4b;
}

.tab {
  display: none;
}

button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  height: 3em;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none !important;
}

#prevBtn {
  background-color: #bbbbbb;
}

#calcBtn {
  display: inline-block;
  background-color: #ff3d4b;
  border-radius: 0.75rem;
  border: rgb(244, 226, 165);
  border-style: solid;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  margin: 0em 0em 0em 0.5em;
  padding: 0.25em 0.75em;
  color: rgb(244, 226, 165);
}

.all-steps {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #eed6c4;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
  background: #ff3d4b;
}

.step.finish {
  color: #e6e7e8;
  background: #bbbbbb;
  opacity: 1;
}

.thanks-message {
  display: none;
}

.faq {
  margin: 2em;
}

/*=============================================
=            How It Works            =
=============================================*/

.howitworks {
  overflow: hidden;
  margin-top: 2em;
  margin-left: 0.5em;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.howitworks-row {
  margin-bottom: 5em;
}

.howitworks-text {
  padding: 0.5em;
  text-align: left;
}

.howitworks-number {
  text-align: center;
  padding: 0;
  vertical-align: top;
  font-size: 2.5em;
}

.howitworks-image {
  height: 10em;
}

/*=============================================
=            FAQ            =
=============================================*/

#faq-title {
  font-weight: 600;
  font-size: 6em;
}

.faq-row {
  margin-bottom: 2em;
}

/*=============================================
=            Radio            =
=============================================*/

#radios {
  margin-bottom: 2em;
  margin-top: 2em;
}

#radios label {
  /* change pointer */
  cursor: pointer;
  position: relative;
}

#radios label + label {
  margin-left: 15px;
}

input[type='radio'] {
  opacity: 0; /* hidden but still tabable */
  position: absolute;
}

/* Active selected */
input[type='radio'] + span {
  font-family: 'Material Icons';
  color: #e6e7e8;
  background-color: #bbbbbb;
  border-radius: 50%;
  padding: 12px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

/* after selecting */
input[type='radio']:checked + span {
  /* checked radio */
  color: #e6e7e8;
  background-color: #ff3d4b;
}

input[type='radio']:focus + span {
  color: #fff;
}

/* ================ TOOLTIPS ================= */

#radios label:hover::before {
  content: attr(for);
  font-family: Roboto, -apple-system, sans-serif;
  text-transform: capitalize;
  font-size: 0.5em;
  position: absolute;
  top: 150%;
  left: 0;
  right: 0;
  opacity: 0.75;
  background-color: #000000;
  /* text color on hover */
  color: rgb(255, 255, 255);
  padding: 4px;
  border-radius: 3px;
  display: block;
}

/*=============================================
=            DATA TIP            =
=============================================*/

[data-tooltip] {
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 37%;
  bottom: calc(100%);
  pointer-events: none;
  transition: 0.05s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 0.5em 0.5em;
  /* min-width: 50px;
  max-width: 300px; */
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 0.8em;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(
    30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44)
  );
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.2s;
  transform: translate(-50%, -5px) scale(1);
}
/* 
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

/*=============================================
=            IMESSAGE            =
=============================================*/

.imessage {
  border-radius: 1rem;
  /* display: flex; */
  /* flex-direction: reverse; */
  font-family: 'SanFrancisco';
  font-size: 1rem;
  /* margin: 0 auto 1rem; */
  max-width: 200px;
  margin-right: auto;
  border-width: thick;
}

.imessage p {
  border-width: medium;
  text-align: left;
  border-radius: 1.15rem;
  border-color: #000;
  border-style: solid;
  line-height: 1.25;
  /* max-width: 50%; */
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

p.from-me {
  /* align-self: flex-end; */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-left: 5em;
}

p[class^='from-'] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p[class^='from-'].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^='from-'].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}

/*=============================================
=            NAV BAR            =
=============================================*/

nav {
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover {
  color: #ff3d00;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }

  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.space {
  margin: 10px 0;
}
nav .logo.space {
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.content .space {
  margin: 10px 0;
}

/*=============================================
=            Contact            =
=============================================*/

.contact {
  margin: 2em;
}

/*=============================================
=            NOTES            =
=============================================*/
/*
  Glass, Radio buttons, Imessage, Navbar, Form with steps and Tooltip are taken from google searches and modified.
  All credit goes to the original writer. 
*/
